
.karuselli { 
margin-top: 50px; 
height: 60%;
width:60%;
}



body {
background-color: LightGray;
margin: auto;
padding: auto;
width: auto;
text-align: center;
}


p {
text-shadow: 10px 10px solid black;
font-size: 16px;
font-weight: bold;
}

