

.carousel-inner img {
  margin: auto;
  
}

body {
background-color: LightGray;
margin: auto;
width: auto;
text-align: center;
}


p {
font-size: 16px;
font-weight: bold;
}

h1 {
  color: black;
  text-shadow: 2px 2px 4px #000000;
}
