body {
	background-color: LightGray;
	text-align: center;
}



table {
	margin: 5px;
	padding: 5px;
	border: 4px solid #999999;
	background-color: Azure;
	width: 50%

}



th  {
	padding: 5px;
	margin: 5px;
	border: 3px solid black;
	background-color: Azure;
}




td {
	padding: 5px;
	border: 3px solid #000000;
}




tr:nth-child(even) {
	background-color: Azure;
	}




tr:nth-child(odd) {
	background-color: Azure;
	}



caption {
	color: black;
	font-weight: bold;
}



p {
font-size: 17px;
font-weight: bold;
}


h1 {
  color: black;
  text-shadow: 2px 2px 4px #000000;
}




.center {
  margin-left: auto;
  margin-right: auto;
}



